*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
    text-align: center;
}
.container{
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px;
}

#task{
    width: 70%;
    padding: 8px;
    border-radius: 5px;
}
#addTask{
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}
li{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px;
   border: 1px solid gray;
   border-radius: 5px;
   margin-top: 5px;
}

#delete-btn{
    color: red;
    cursor: pointer;
}